body {
    background-color: #2B2974;
    
}


.navbar {
    padding-top: 20px;
    background-color: #2B2974;
}

.nav-item {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    font-size: 25px;
}

.nav-link {
    font-size: 25px;
}

.jumbotron {
    padding-top: 40px;
    color: white;
    padding-left: 4em;
}

#vote{
    padding-left: 2em;
}

.jumbotron .row .d-flex .lead{
    font-size: 18px;
    padding-top: 20px;
}

.button {
    border: none;
    color: white;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 32px; */
/* 
    position: absolute;
    width: 189px;
    height: 49px;
    left: 87px;
    top: 531px; */
    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
}

.readmore {
    background-color: #2B2974; 
    color: white; 
    border: 2px solid white;
}

.readmore:hover {
    background-color: white;
    color: black;
    
}

.evoting-mark {
    color: white; 
    margin-top: 30px;
    text-align: center;
    font-family: poppin;
}

