body {
    background-color: #2B2974;
    color: white;
}

.wrapper-up {
    /* img */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;

    /* text*/
    font-family: 'Poppins';
    text-align: center;
    color: white;
}

.logo {
    margin-bottom: 15px;
}

